.App {
  text-align: center;
}
*{
  margin:10px
}
body{
  padding: 10px;
}
.bussiness-card{
  width: 40%;
  word-wrap: break-word;
  margin-left: 80px;
  margin-right: 80px;
  background-color: blueviolet;

}